langchain
faiss-cpu
pypdf
tiktoken
sentence-transformers
together
openai
google-generativeai
google-genai
langchain-google-genai
langchain-community 
langchain-huggingface
tavily-python
langgraph
streamlit
pytesseract
pdfminer.six==20221105
unstructured[pdf]==0.10.25
