langchain
faiss-cpu
pypdf
tiktoken
sentence-transformers
together
openai
google-generativeai
google-genai
langchain-google-genai
langchain-community 
langchain-huggingface
tavily-python
langgraph
streamlit
pytesseract
pdfminer.six==20221105
llama-parse
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index-vector-stores-faiss
llama-index-readers-llama-parse
unstructured[pdf]==0.10.25
